
<!DOCTYPE html>
<html lang="en">

<head>
    <!--<base href="/" /> &lt;!&ndash; https://okky.kr/questions/933544 base태그 빼주면 css js 안먹는 문제 &ndash;&gt;-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Register</title>

    <!-- Custom fonts for this template-->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">

    <style>
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
            margin-top: 5px;
        }
    </style>
</head>

<body class="bg-gradient-primary">

<div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                <div class="col-lg-7">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                        </div>

                        <!--<form class="user" action="" th:action th:object="${member}" method="post">
                            <div class="form-group">
                                <input type="text" id="loginId" th:field="${member.loginId}" class="form-control form-control-user" placeholder="아이디를 입력하세요">
                                <div class="field-error" th:errors="${member.loginId}" />
                            </div>
                            <div class="form-group">
    &lt;!&ndash;                                <div class="col-sm-6 mb-3 mb-sm-0">&ndash;&gt;
                                <input type="password" id="password" th:field="${member.password}" class="form-control form-control-user" placeholder="패스워드를 입력하세요">
    &lt;!&ndash;                                </div>&ndash;&gt;
                                <div class="field-error" th:errors="${member.password}" />
                            </div>
                            <div class="form-group">
                                <input type="text" id="nickname" th:field="${member.nickname}" class="form-control form-control-user" placeholder="닉네임을 입력하세요">
                                <div class="field-error" th:errors="${member.nickname}" />
                            </div>

                            <button id="signUp" class="btn btn-primary btn-user btn-block" type="submit">회원가입</button>
                            <hr>
                            <a href="index.html" class="btn btn-google btn-user btn-block">
                                <i class="fab fa-google fa-fw"></i> Register with Google
                            </a>
                            <a href="index.html" class="btn btn-facebook btn-user btn-block">
                                <i class="fab fa-facebook-f fa-fw"></i> Register with Facebook
                            </a>
                        </form>-->
                        <div class="form-group">
                            <input type="text" id="loginId" class="form-control form-control-user" placeholder="아이디를 입력하세요">
                            <div class="field-error" id="loginId-error" />
                        </div>
                        <div class="form-group">
                            <!--                                <div class="col-sm-6 mb-3 mb-sm-0">-->
                            <input type="password" id="password" class="form-control form-control-user" placeholder="패스워드를 입력하세요">
                            <!--                                </div>-->
                            <div class="field-error" id="password-error" />
                        </div>
                        <div class="form-group">
                            <input type="text" id="nickname" class="form-control form-control-user" placeholder="닉네임을 입력하세요">
                            <div class="field-error" id="nickname-error" />
                        </div>

                        <button id="signUp" class="btn btn-primary btn-user btn-block" type="button">회원가입</button>
                        <hr>
                        <a th:href="@{/oauth2/authorization/google}" class="btn btn-google btn-user btn-block">
                            <i class="fab fa-google fa-fw"></i> Register with Google
                        </a>
                        <!--<a href="index.html" class="btn btn-facebook btn-user btn-block">
                            <i class="fab fa-facebook-f fa-fw"></i> Register with Facebook
                        </a>

                        <hr>
                        <div class="text-center">
                            <a class="small" href="forgot-password.html">Forgot Password?</a>
                        </div>
                        <div class="text-center">
                            <a class="small" href="login.html">Already have an account? Login!</a>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!--/* jquery script */-->

<!-- Bootstrap core JavaScript-->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/js/sb-admin-2.min.js"></script>
<script src="/js/common.js"></script>
<script>
    $('#signUp').click(function(e) {

        // 폼 데이터를 직접 객체 리터럴로 생성
        let member = {
            loginId: $('#loginId').val(),
            password: $('#password').val(),
            nickname: $('#nickname').val()
        };

        ajaxJson("POST", "/members", JSON.stringify(member), false,
            function(data, status, xhr) {
                alert("회원가입에 성공하였습니다.");
                location.href="/";

            },

            function(xhr, status, error) {
                let jsonResponse = JSON.parse(xhr.responseText);
                console.log(jsonResponse);
                console.log(xhr);
                console.log(status);
                console.log(error);
                $('#loginId-error').text("");
                $('#password-error').text("");
                $('#nickname-error').text("");

                if (jsonResponse.code == "CM_001") {

                    for (var i in jsonResponse.errors) {
                        let field = jsonResponse.errors[i].field;
                        let reason = jsonResponse.errors[i].reason;

                        if (field == "loginId") $('#loginId-error').text(reason);
                        if (field == "password") $('#password-error').text(reason);
                        if (field == "nickname") $('#nickname-error').text(reason);
                    }
                } else if (jsonResponse.code == "CM_002") {
                    alert(jsonResponse.message);
                }
            });
    });

</script>
</body>

</html>