<!DOCTYPE html>
<html th:replace="~{fragments/layout :: layout(~{::title},~{::section})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>404 ERROR</title>
</head>
<body>
<section class="container-fluid">

    <!-- 401 Error Text -->
    <div class="text-center">
        <div class="error mx-auto" data-text="401">401</div>
        <p class="lead text-gray-800 mb-5">Unauthorized</p>
<!--        <p class="text-gray-500 mb-0">It looks like you found a glitch in the matrix...</p>-->
        <a href="index.html" th:href="@{/}">&larr; Back to Main</a>
    </div>

</section>
</body>
</html>