<!DOCTYPE html>
<html th:replace="~{fragments/layout :: layout(~{::title},~{::section})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>메인 페이지 타이틀</title>


    <style>
        .img-profile {
            height: 100%; /* Set the height to 100% of the parent container's height */
        }
    </style>
</head>
<body>
    <section class="container-fluid">
        <h1 class="h3 mb-2 text-gray-800">전체 글</h1>
        <hr>


    <!--
        <div>
            &lt;!&ndash; Dropdown Card Example &ndash;&gt;
            <div class="card shadow mb-4">
                &lt;!&ndash; Card Header - Dropdown &ndash;&gt;
                <div
                        class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">게시글 샘플2112</h6>
                    <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated&#45;&#45;fade-in"
                             aria-labelledby="dropdownMenuLink">
                            <div class="dropdown-header">Dropdown Header:</div>
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>
                </div>
                &lt;!&ndash; Card Body &ndash;&gt;
                <div class="card-body">
                    Dropdown menus can
                </div>
            </div>

            <div class="card shadow mb-4" style="min-height: 120px;">
                <div class="row g-0">
                    <div class="col-md-3 col-12">
                        <img src="/img/kakao_login_medium_wide.png" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-9 col-12">
                        <div class="card-body" style="padding: 0.75rem 0 1.5rem;">
                            <p class="card-title" style="max-width: 30px; display: flex; align-items: center;">
                                <img class="img-profile rounded-circle" src="/img/undraw_profile.svg">
                                <span id="auth_nickname" class="mr-2 text-gray-600 small" style="white-space: nowrap;">Douglas McGee</span>
                                <span class="mr-2 text-gray-600 small" style="white-space: nowrap;">·</span>
                                <small class="text-body-secondary" style="white-space: nowrap;">Last updated 3 mins ago</small>
                            </p>
                            <h5 class="card-text">Card title</h5>
                        </div>
                    </div>
                </div>
            </div>

            <div class="d-grid gap-1 col-1 mx-auto">
                <button class="btn btn-primary" type="button">More</button>
            </div>


        </div>-->

        <script>

            document.addEventListener('DOMContentLoaded', function() {
                window.location.href = "/article?category=0";
            });

        </script>
    </section>
</body>
</html>

